{% extends 'layout.html' %}

{% block context %}
    <h1>博客列表</h1>
    <div class="row row-cols-2 row-gap-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">django零基础实战</a>
                </div>
                <div class="card-body" style="height: 100px">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/wallhaven-3z8y59.webp' %}" class="rounded-circle" alt="" height="30px"
                             width="30px">
                        知了课堂
                        <div>发布时间：2024年3月29日 11：28</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">django零基础实战</a>
                </div>
                <div class="card-body" style="height: 100px">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/wallhaven-3z8y59.webp' %}" class="rounded-circle" alt="" height="30px"
                             width="30px">
                        知了课堂
                        <div>发布时间：2024年3月29日 11：28</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
